%h1 Listing sources

%table
  %tr
    %th Name
    %th Full name
    %th Abbr
    %th Description
    %th Private notes
    %th Admin notes
    %th Icon
    %th Url
    %th Small icon url
    %th
    %th
    %th

  - @sources.each do |source|
    %tr
      %td= source.name
      %td= source.full_name
      %td= source.abbr
      %td= source.description
      %td= source.private_notes
      %td= source.admin_notes
      %td= source.icon
      %td= source.url
      %td= source.small_icon_url
      %td= link_to 'Show', source
      %td= link_to 'Edit', edit_source_path(source)
      %td= link_to 'Destroy', source, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Source', new_source_path
