%p#notice= notice

%p
  %b Name:
  = @source.name
%p
  %b Full name:
  = @source.full_name
%p
  %b Abbr:
  = @source.abbr
%p
  %b Description:
  = @source.description
%p
  %b Private notes:
  = @source.private_notes
%p
  %b Admin notes:
  = @source.admin_notes
%p
  %b Icon:
  = @source.icon
%p
  %b Url:
  = @source.url
%p
  %b Small icon url:
  = @source.small_icon_url

= link_to 'Edit', edit_source_path(@source)
\|
= link_to 'Back', sources_path
