%p#notice= notice

%p
  %b Guid:
  = @old_sound.guid
%p
  %b Locale:
  = @old_sound.locale
%p
  %b Preview:
  = @old_sound.preview
%p
  %b Title:
  = @old_sound.title
%p
  %b Description:
  = @old_sound.description
%p
  %b Copyright:
  = @old_sound.copyright
%p
  %b License:
  = @old_sound.license_id
%p
  %b Original url:
  = @old_sound.original_url
%p
  %b Url:
  = @old_sound.url
%p
  %b Javascript:
  = @old_sound.javascript_id
%p
  %b Stylesheet:
  = @old_sound.stylesheet_id
%p
  %b Sound:
  = @old_sound.sound_id

= link_to 'Edit', edit_old_sound_path(@old_sound)
\|
= link_to 'Back', old_sounds_path
