%p#notice= notice

%p
  %b Partner:
  = @node.partner_id
%p
  %b Parent:
  = @node.parent_id
%p
  %b Original:
  = @node.original_id

= link_to 'Edit', edit_node_path(@node)
\|
= link_to 'Back', nodes_path
