%p#notice= notice

%p
  %b Partner:
  = @dataset.partner_id
%p
  %b Name:
  = @dataset.name
%p
  %b Full name:
  = @dataset.full_name
%p
  %b Abbr:
  = @dataset.abbr
%p
  %b Description:
  = @dataset.description
%p
  %b Private notes:
  = @dataset.private_notes
%p
  %b Admin notes:
  = @dataset.admin_notes
%p
  %b Url:
  = @dataset.url
%p
  %b License:
  = @dataset.license_id

= link_to 'Edit', edit_dataset_path(@dataset)
\|
= link_to 'Back', datasets_path
