%p#notice= notice

%p
  %b Guid:
  = @map.guid
%p
  %b Locale:
  = @map.locale
%p
  %b Title:
  = @map.title
%p
  %b Description:
  = @map.description
%p
  %b Copyright:
  = @map.copyright
%p
  %b License:
  = @map.license_id
%p
  %b Original url:
  = @map.original_url
%p
  %b Full size url:
  = @map.full_size_url
%p
  %b Crop url:
  = @map.crop_url
%p
  %b Thumbnail url:
  = @map.thumbnail_url
%p
  %b Javascript:
  = @map.javascript_id
%p
  %b Stylesheet:
  = @map.stylesheet_id

= link_to 'Edit', edit_map_path(@map)
\|
= link_to 'Back', maps_path
