%h1 Listing traits

%table
  %tr
    %th Subject type
    %th Subject
    %th Original predicate name
    %th Predicate uri
    %th Value
    %th Text
    %th Object uri
    %th Units
    %th Original units uri
    %th
    %th
    %th

  - @traits.each do |trait|
    %tr
      %td= trait.subject_type
      %td= trait.subject_id
      %td= trait.original_predicate_name
      %td= trait.predicate_uri_id
      %td= trait.value
      %td= trait.text
      %td= trait.object_uri_id
      %td= trait.units
      %td= trait.original_units_uri_id
      %td= link_to 'Show', trait
      %td= link_to 'Edit', edit_trait_path(trait)
      %td= link_to 'Destroy', trait, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Trait', new_trait_path
