%p#notice= notice

%p
  %b Subject type:
  = @trait.subject_type
%p
  %b Subject:
  = @trait.subject_id
%p
  %b Original predicate name:
  = @trait.original_predicate_name
%p
  %b Predicate uri:
  = @trait.predicate_uri_id
%p
  %b Value:
  = @trait.value
%p
  %b Text:
  = @trait.text
%p
  %b Object uri:
  = @trait.object_uri_id
%p
  %b Units:
  = @trait.units
%p
  %b Original units uri:
  = @trait.original_units_uri_id

= link_to 'Edit', edit_trait_path(@trait)
\|
= link_to 'Back', traits_path
