%h1 Listing literature_references

%table
  %tr
    %th Parent type
    %th Parent
    %th String
    %th
    %th
    %th

  - @literature_references.each do |literature_reference|
    %tr
      %td= literature_reference.parent_type
      %td= literature_reference.parent_id
      %td= literature_reference.string
      %td= link_to 'Show', literature_reference
      %td= link_to 'Edit', edit_literature_reference_path(literature_reference)
      %td= link_to 'Destroy', literature_reference, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Literature reference', new_literature_reference_path
