%h1 Listing old_maps

%table
  %tr
    %th Guid
    %th Locale
    %th Preview
    %th Title
    %th Description
    %th Copyright
    %th License
    %th Original url
    %th Full size url
    %th Crop url
    %th Thumbnail url
    %th Javascript
    %th Stylesheet
    %th Map
    %th
    %th
    %th

  - @old_maps.each do |old_map|
    %tr
      %td= old_map.guid
      %td= old_map.locale
      %td= old_map.preview
      %td= old_map.title
      %td= old_map.description
      %td= old_map.copyright
      %td= old_map.license_id
      %td= old_map.original_url
      %td= old_map.full_size_url
      %td= old_map.crop_url
      %td= old_map.thumbnail_url
      %td= old_map.javascript_id
      %td= old_map.stylesheet_id
      %td= old_map.map_id
      %td= link_to 'Show', old_map
      %td= link_to 'Edit', edit_old_map_path(old_map)
      %td= link_to 'Destroy', old_map, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Old map', new_old_map_path
