%h1 Listing old_articles

%table
  %tr
    %th Guid
    %th Locale
    %th Preview
    %th Section
    %th Title
    %th Body
    %th Copyright
    %th License
    %th Original url
    %th Javascript
    %th Stylesheet
    %th Article
    %th
    %th
    %th

  - @old_articles.each do |old_article|
    %tr
      %td= old_article.guid
      %td= old_article.locale
      %td= old_article.preview
      %td= old_article.section_id
      %td= old_article.title
      %td= old_article.body
      %td= old_article.copyright
      %td= old_article.license_id
      %td= old_article.original_url
      %td= old_article.javascript_id
      %td= old_article.stylesheet_id
      %td= old_article.article_id
      %td= link_to 'Show', old_article
      %td= link_to 'Edit', edit_old_article_path(old_article)
      %td= link_to 'Destroy', old_article, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Old article', new_old_article_path
