%h1 Listing videos

%table
  %tr
    %th Guid
    %th Locale
    %th Title
    %th Description
    %th Copyright
    %th License
    %th Original url
    %th Url
    %th Javascript
    %th Stylesheet
    %th
    %th
    %th

  - @videos.each do |video|
    %tr
      %td= video.guid
      %td= video.locale
      %td= video.title
      %td= video.description
      %td= video.copyright
      %td= video.license_id
      %td= video.original_url
      %td= video.url
      %td= video.javascript_id
      %td= video.stylesheet_id
      %td= link_to 'Show', video
      %td= link_to 'Edit', edit_video_path(video)
      %td= link_to 'Destroy', video, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Video', new_video_path
