%h1 Listing javascripts

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @javascripts.each do |javascript|
    %tr
      %td= javascript.name
      %td= link_to 'Show', javascript
      %td= link_to 'Edit', edit_javascript_path(javascript)
      %td= link_to 'Destroy', javascript, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Javascript', new_javascript_path
