%h1 Listing collection_attributions

%table
  %tr
    %th Medium type
    %th Medium
    %th Who
    %th Url
    %th Role
    %th
    %th
    %th

  - @collection_attributions.each do |collection_attribution|
    %tr
      %td= collection_attribution.medium_type
      %td= collection_attribution.medium_id
      %td= collection_attribution.who
      %td= collection_attribution.url
      %td= collection_attribution.role_id
      %td= link_to 'Show', collection_attribution
      %td= link_to 'Edit', edit_collection_attribution_path(collection_attribution)
      %td= link_to 'Destroy', collection_attribution, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Collection attribution', new_collection_attribution_path
