%p#notice= notice

%p
  %b Medium type:
  = @collection_attribution.medium_type
%p
  %b Medium:
  = @collection_attribution.medium_id
%p
  %b Who:
  = @collection_attribution.who
%p
  %b Url:
  = @collection_attribution.url
%p
  %b Role:
  = @collection_attribution.role_id

= link_to 'Edit', edit_collection_attribution_path(@collection_attribution)
\|
= link_to 'Back', collection_attributions_path
