%h1 Listing links

%table
  %tr
    %th Partner
    %th Name
    %th Url
    %th Position
    %th
    %th
    %th

  - @links.each do |link|
    %tr
      %td= link.partner_id
      %td= link.name
      %td= link.url
      %td= link.position
      %td= link_to 'Show', link
      %td= link_to 'Edit', edit_link_path(link)
      %td= link_to 'Destroy', link, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Link', new_link_path
