%p#notice= notice

%p
  %b Medium type:
  = @attribution.medium_type
%p
  %b Medium:
  = @attribution.medium_id
%p
  %b Who:
  = @attribution.who
%p
  %b Url:
  = @attribution.url
%p
  %b Role:
  = @attribution.role_id

= link_to 'Edit', edit_attribution_path(@attribution)
\|
= link_to 'Back', attributions_path
