%h1 Listing concepts

%table
  %tr
    %th Source
    %th Parent
    %th Original
    %th
    %th
    %th

  - @concepts.each do |concept|
    %tr
      %td= concept.source_id
      %td= concept.parent_id
      %td= concept.original_id
      %td= link_to 'Show', concept
      %td= link_to 'Edit', edit_concept_path(concept)
      %td= link_to 'Destroy', concept, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Concept', new_concept_path
