%p#notice= notice

%p
  %b Source:
  = @concept.source_id
%p
  %b Parent:
  = @concept.parent_id
%p
  %b Original:
  = @concept.original_id

= link_to 'Edit', edit_concept_path(@concept)
\|
= link_to 'Back', concepts_path
