%p#notice= notice

%p
  %b Parent type:
  = @association.parent_type
%p
  %b Parent:
  = @association.parent_id
%p
  %b Child type:
  = @association.child_type
%p
  %b Child:
  = @association.child_id
%p
  %b Trusted:
  = @association.trusted
%p
  %b Reviewed:
  = @association.reviewed
%p
  %b Visible:
  = @association.visible
%p
  %b Overview:
  = @association.overview
%p
  %b Position:
  = @association.position
%p
  %b Rating:
  = @association.rating
%p
  %b Num ratings:
  = @association.num_ratings

= link_to 'Edit', edit_association_path(@association)
\|
= link_to 'Back', associations_path
