= form_for @appearance do |f|
  - if @appearance.errors.any?
    #error_explanation
      %h2= "#{pluralize(@appearance.errors.count, "error")} prohibited this appearance from being saved:"
      %ul
        - @appearance.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name_id
    = f.number_field :name_id
  .field
    = f.label :publication_id
    = f.number_field :publication_id
  .field
    = f.label :page
    = f.text_field :page
  .field
    = f.label :url_snippet
    = f.text_field :url_snippet
  .actions
    = f.submit 'Save'
