= form_for @secion do |f|
  - if @secion.errors.any?
    #error_explanation
      %h2= "#{pluralize(@secion.errors.count, "error")} prohibited this secion from being saved:"
      %ul
        - @secion.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :type
    = f.number_field :type
  .field
    = f.label :position
    = f.number_field :position
  .field
    = f.label :parent_id
    = f.number_field :parent_id
  .actions
    = f.submit 'Save'
