%p#notice= notice

%p
  %b Type:
  = @secion.type
%p
  %b Position:
  = @secion.position
%p
  %b Parent:
  = @secion.parent_id

= link_to 'Edit', edit_secion_path(@secion)
\|
= link_to 'Back', secions_path
