%h1 Listing old_images

%table
  %tr
    %th Guid
    %th Locale
    %th Preview
    %th Title
    %th Description
    %th Copyright
    %th String
    %th License
    %th Original url
    %th Full size url
    %th Crop url
    %th Thumbnail url
    %th Image
    %th
    %th
    %th

  - @old_images.each do |old_image|
    %tr
      %td= old_image.guid
      %td= old_image.locale
      %td= old_image.preview
      %td= old_image.title
      %td= old_image.description
      %td= old_image.copyright
      %td= old_image.string
      %td= old_image.license_id
      %td= old_image.original_url
      %td= old_image.full_size_url
      %td= old_image.crop_url
      %td= old_image.thumbnail_url
      %td= old_image.image_id
      %td= link_to 'Show', old_image
      %td= link_to 'Edit', edit_old_image_path(old_image)
      %td= link_to 'Destroy', old_image, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Old image', new_old_image_path
