%p#notice= notice

%p
  %b Guid:
  = @old_image.guid
%p
  %b Locale:
  = @old_image.locale
%p
  %b Preview:
  = @old_image.preview
%p
  %b Title:
  = @old_image.title
%p
  %b Description:
  = @old_image.description
%p
  %b Copyright:
  = @old_image.copyright
%p
  %b String:
  = @old_image.string
%p
  %b License:
  = @old_image.license_id
%p
  %b Original url:
  = @old_image.original_url
%p
  %b Full size url:
  = @old_image.full_size_url
%p
  %b Crop url:
  = @old_image.crop_url
%p
  %b Thumbnail url:
  = @old_image.thumbnail_url
%p
  %b Image:
  = @old_image.image_id

= link_to 'Edit', edit_old_image_path(@old_image)
\|
= link_to 'Back', old_images_path
