%p#notice= notice

%p
  %b Guid:
  = @image.guid
%p
  %b Locale:
  = @image.locale
%p
  %b Title:
  = @image.title
%p
  %b Description:
  = @image.description
%p
  %b Copyright:
  = @image.copyright
%p
  %b License:
  = @image.license_id
%p
  %b Original url:
  = @image.original_url
%p
  %b Full size url:
  = @image.full_size_url
%p
  %b Crop url:
  = @image.crop_url
%p
  %b Thumbnail url:
  = @image.thumbnail_url

= link_to 'Edit', edit_image_path(@image)
\|
= link_to 'Back', images_path
