%h1 Listing uris

%table
  %tr
    %th String
    %th Locale
    %th Position
    %th
    %th
    %th

  - @uris.each do |uri|
    %tr
      %td= uri.string
      %td= uri.locale
      %td= uri.position
      %td= link_to 'Show', uri
      %td= link_to 'Edit', edit_uri_path(uri)
      %td= link_to 'Destroy', uri, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Uri', new_uri_path
